@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    Your progess and results will be recorded.<br />
    This is being held for training purposes.<br />
    If you any queries around this e-learning module.<br />
    Please refer to the contact details on this page. <a asp-page="/Contact">Contact Us</a>
</p>